
#page_trail{
    font-family: "Arial";
    font-size: 17px;
    text-align: left;
    text-indent: 30px;
}

#logo_circle{
    height: 80px;
    width: 80px;
    background-color:black;
    border-radius: 50%;
    float: left;
    margin-left: 20px;
}

#page_title{
    font-family: "Optima";
    font-size: 50px;
    font-weight: bold;
    margin-left:30%;
    margin-right:30%;
    background: none;
    float: inherit;
    margin-top:30px;
}


#collaboration_list{
margin-top:40px;
background:#A9A9A9;
margin-left:20px;
margin-right:20px;
margin-bottom:0px;
height:350px;
padding:10px;
}

#participants{
background: #A9A9A9;
margin-top:0px;
margin-left:20px;
margin-right:20px;
height:300px;
padding:10px;
}

#invite_button{
    margin-right:0px;
    float:right; 
    width: 130px; 
    font-size:15;
    border: 1px solid black;
    border-radius: 5px;
    margin-top:10px;
    margin-right:10px;
}

#log_out{
    border:none;
    background:none;
    position: absolute;
    top:10px;
    right:20px;
    padding-top:0px;
    font-size: 15px;
}

#menu_bar{
    border:none;
    background:none;
    right:20px;
    top:10px;
    font-size: 15px;
    margin-top:33px;
    height:22px;
    position: absolute;
}
.column1{
    float: left;
    width: 25%;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    overflow:scroll;

}
.column2{
    float: left;
    width: 25%;
    padding: 10px;
    box-sizing: border-box;
    border-right: 1px solid #5f656d; /* Border on the right */
    height: 250px;
}
#row1, #row2{
    content: "";
    display: table;
    clear: both;
    width: 100%;
}