/* CSS rule that will give us the beach background */
#topSection{
  background: unset;
  background-image: url("../images/BeachView.png");
}

/* CSS rules dealing with spacing and placement of div elements */
span.clear{
  clear: left;
  display: block;
}
.left{
  float: left;
}
.right{
  float: right;
  margin: 10px 10px 0px 0px;
}

/* Section will deal with button styling in our Home Page */
button{
  font-size:16px;
  font-family: "Arial";
  border-radius: 8px;
  vertical-align: middle;
  float: right;
}

.buttonPNG{
  width: 20px;
  height: 20px;
}

/*
  Deals with middleSection item placement and style
*/
#middleSection{
  height: 150px;
}
#searchBox{
  font-family: "Arial";
  font-size: 14px;
  border-radius: 4px;
  vertical-align: bottom;
}
#submitButton{
  font-size:14px;
  height: 24px;
  vertical-align: bottom;
}
#searchLogo{
  vertical-align: top;
}

/*
  Deals with spacing of the background image
*/
#header{
  height: 120px;
}

/*
  Deals with CSS of the List of images and selections. Each one will be a link with a picture.
*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    margin:0px auto;
    padding:0px;
}

li {
    display: inline-block;
    margin:0px auto;
    padding:0px;
}
#selections{
  border: 0 solid #000;
  border-top: 5px solid #6d6d6d;
  border-bottom: 5px solid #6d6d6d;
}
