body{
    background: lightgray;
    vertical-align: middle;
    text-align: center;
    font-size: 14px;
    font-family: "Arial";
}

div{
    background: rgba(215, 215, 215, 1) ;
    float: left;
    border: 2px solid black;
    border-radius: 7px;
    display: flex;
    flex-wrap: nowrap;
    position: relative;
}
#logInText{
  font-size: 16;
}

form{
    display: block;
    float: none;
}

#logInbody{
  height: 100%;
  width: 100%;
}
#logInFile .linePerline{
  float: right;
}
#subButton{
  width: 100%;
  background-color: rgba(165, 165, 165);
  border: none;
  text-align: center;
}
#logInFile{
  overflow: auto;
  text-align: left;
  display:inline-block;
  float: left;
  margin-left: 25%;
  width: 50%;
  margin-top: 5%;
  margin-right: 25%;
}
ul#ulxx{
  list-style-type: none;
  display: inline-block;
  margin-top: 0;
  float: right;
  border-spacing: 0px 0px;
   vertical-align: middle;

}
ul#ulxx li{
  display: inline-block;

  border: none;
  width: 33%;

}

#form_div {
    border-width: 0px;
    position: relative;
    background: inherit;
    background-color:  rgba(165, 165, 165);
    border: none;
    width: 50%;
    height: 50%;
    border-radius: 0px;
    text-align: center;
    font-family: 'ArialMT', 'Arial';
    font-style: normal;
    font-size: 24px;
    color: #333333;
    line-height: normal;
    margin-left: 25%;
    margin-right: 25%;
    background-image: none;
    align-content: center;
}
#u19{
  border: none;
  font-family: 'Arial-BoldMT', 'Arial Bold', 'Arial';
    position: relative;
    left: 0px;
    top: 0px;
    word-wrap: break-word;
    margin: 0px;
    left: auto;
}
.firstA a{
  color: black;
  text-decoration: none;
  list-style: none;
}
#u18_img{
  border-width: 0px;
position: relative;
width: 30px;
height: 30px;
display: inline-block;
}
#u18{
  width: 25%;
  border: none;
display: inline-block;
}
#registerTop{
  display: inline-block;
  width: 100%;
}
div {
    display: block;
}
#foots{
  border: none;
  overflow: hidden;
  width: 100%;
  bottom: 0px;

}
#footerHolder{
  padding: 0px;
}
.foot{
  justify-content: center;
  display: inline-block;
}
header{
  border: 2px ;
  margin: 5px;
  margin-bottom: 10px;
  padding: 5px;
  border-radius: 10px;
  text-align: left;
  height: 10%;
  overflow: hidden;
  vertical-align: middle;
  display: inline-block;
  width: 100%;
  list-style: none;
}
