#registerbody{
  height: 100%;
  width: 100%;
}
#registerFile{
  display:grid;
  float: left;
  margin-left: 25%;
  width: 50%;
  margin-top: 5%;
  margin-right: 25%;
}
#u1_div {
    border-width: 0px;
    position: relative;
    background: inherit;
    background-color: rgba(215, 215, 215, 1);
    border: none;
    width: 50%;
    height: 50%;
    border-radius: 0px;
    text-align: center;
    font-family: 'ArialMT', 'Arial';
    font-style: normal;
    font-size: 13px;
    color: #333333;
    line-height: normal;
    margin-left: 25%;
    margin-right: 25%;
    background-image: none;
    align-content: center;
}
#u19{
  border: none;
  font-family: 'Arial-BoldMT', 'Arial Bold', 'Arial';
    position: relative;
    left: 0px;
    top: 0px;
    word-wrap: break-word;
    margin: 0px;
    left: auto;
}

#u18_img{
  border-width: 0px;
position: relative;
width: 30px;
height: 30px;
display: inline-block;
}
#u18{
  width: 25%;
  border: none;
display: inline-block;
}
#registerTop{
  display: inline-block;
  width: 100%;
}
div {
    display: block;
}
#foots{
  border: none;
  overflow: hidden;
  width: 100%;
  bottom: 0px;

}
#footerHolder{
  padding: 0px;
}
.foot{
  justify-content: center;
  display: inline-block;
}
