body{
    background: lightgray;
    vertical-align: middle;
    text-align: center;
    font-size: 14px;
    font-family: "Arial";
}

form{
    display: block;
    float: none;
}

#page_title{
    font-family: "Optima";
    font-size: 50px;
    font-weight: bold;
    float: center;

}
#logo_circle{
    float: left;
    margin-left: 20px;
}

#page_trail{
    font-family: "Arial";
    font-size: 17px;
    text-align: left;
    text-indent: 30px;
}

#page_logo_group{
    float:right;
    margin-right: 20px;
}

#page_logo{
    width: 50px;
    height: 45px;
}

#image_searches{
    width: 320px;
    height: 200px;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 15px;
    margin-bottom: 30px;
}

#search_background{
    margin: auto;
    background: rgb(134, 134, 134);
    border: 2px solid darkgray;
    width: 78%;
    height: 275px;
}
#search_box{
    margin: auto;
    background: white;
    border: 2px solid darkgray;
    font-family: "Arial";
    width: 95%;
    height: 225px;
    margin-bottom: 25px;
    margin-top: 25px;
}

#search_dropdown{
    font-size: 18px;
    font-family: "Arial";
    margin-top: 40px;
    margin-left: 75px;
}

#checkbox_form{
    font-size: 18px;
    font-family: "Arial";
}

#submit_button{
    font-size: 20px;
    font-family: "Arial";
    padding: 7px;
    width: 200px;
}

/*
  This sections deals with the footer. These are just the links that appear at the bottom.
*/
#footer_list{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  margin:0px auto;
  padding:0px;
}
.footer_list_option{
  display: inline-block;
  margin:0px auto;
  padding:0px;
  margin-top: 15px;
  margin-left: 12px;
  margin-right: 12px;
  color: #1f7093;
}
