body{
    background: lightgray;
    vertical-align: middle;
    font-size: 14px;
    font-family: "Arial";
}

form{
    display: block;
    float: none;
}

#menu_imgs{
   width:30px;
   height:30px;
   opacity:0.5;
}
